@import url('../aux-widgets/styles/basics.css');

:root {
  --aux-button-paddinghorizontal: 16px;
  --aux-fader-handleheight: 56px;
  --aux-fader-gridgap: 4px;
  --aux-scale-labelmarginvertical: 2px;
  --aux-scale-minwidth: 28px;
  --aux-meter-size: 4px;
  --aux-meter-gridgap: 4px;
  --aux-state-width: 32px;
  --aux-state-height: 8px;
}


.aux-widget {
  margin: 0;
}


.aux-disabled {
  pointer-events: none;
  opacity: 0.25;
}


.aux-button {
  background: var(--button-background);
  color: var(--button-color);
  border-radius: var(--border-radius);
  transition: all var(--transition);
}
.aux-button:hover {
  color: var(--button-hover-indicator);
}
.aux-button.aux-active {
  color: var(--button-active-color);
  background: var(--button-active-background);
}
.aux-button > .aux-icon {
  font-size: var(--font-size-button-icon-small);
}
.aux-button.aux-horizontal > .aux-icon {
  margin-right: 8px;
}

.aux-circular {
  
}
.aux-circular > .aux-base {
  fill: var(--background-dark);
  stroke: var(--background-dark);
  stroke-width: 1px;
}
.aux-circular > .aux-value {
  fill: var(--color-accent);
}
.aux-circular .aux-label {
  fill: var(--color-fade);
}

.aux-fader.aux-horizontal {
/*
  min-width: 256px;
*/
}
.aux-fader.aux-vertical {
/*
  min-height: 256px;
*/
}
.aux-fader.aux-horizontal > .aux-track {
  background: var(--fader-track-horizontal-background);
}
.aux-fader.aux-vertical > .aux-track {
  background: var(--fader-track-vertical-background);
  border-radius: var(--border-radius);
}
.aux-fader > .aux-track > .aux-handle {
  border-radius: var(--border-radius);
}
.aux-fader.aux-horizontal > .aux-track > .aux-handle {
  background: var(--fader-handle-background);
  box-shadow: var(--fader-handle-horizontal-shadow);
}
.aux-fader.aux-vertical > .aux-track > .aux-handle {
  background: var(--fader-handle-vertical-background);
  box-shadow: var(--fader-handle-shadow);
}
.aux-fader > .aux-track > .aux-handle::after {
  content: "";
  position: absolute;
  background: var(--fader-handle-bar);
}
.aux-fader.aux-horizontal > .aux-track > .aux-handle::after {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}
.aux-fader.aux-vertical > .aux-track > .aux-handle::after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}



.aux-meter.aux-vertical {
/*
  min-height: 256px;
*/
}
.aux-meter > .aux-bar > .aux-mask {
  opacity: 0.66;
}


.aux-scale > .aux-label {
  color: var(--color-fade);
}



.aux-select {
  padding-right: 8px
}
.aux-button.aux-select > .aux-icon {
  margin-left: 12px !important;
}
.aux-selectlist {
  background: var(--background-dark);
}
.aux-selectlist > .aux-selectentry:hover {
  background: var(--background-medium);
}
.aux-selectlist > .aux-selectentry.aux-active {
  background: var(--color-accent);
  color: var(--color-contrast);
}



.aux-state {
  background: var(--color-ok);
}
.aux-state > .aux-mask {
  background: var(--background-dark);
}


.aux-toggle {
  padding-left: 4px;
  background: var(--toggle-background);
  color: var(--toggle-color);
}
.aux-toggle:hover {
  background: var(--toggle-hover-background);
  color: var(--toggle-hover-color);
}
.aux-toggle.aux-active {
  background: var(--toggle-hover-background);
  color: var(--toggle-hover-color);
}
.aux-toggle::before {
  content: "";
  background: var(--toggle-indicator);
  transition: all var(--transition);
  width: 1px;
  height: 100%;
  border-radius: 2px;
  margin-right: var(--aux-button-paddinghorizontal);
}
.aux-toggle:hover::before {
  background: var(--toggle-hover-indicator);
}
.aux-toggle.aux-active::before {
  background: var(--toggle-active-indicator);
}



.aux-value {
    
}
.aux-value > .aux-input {
  background: var(--background-dark);
  color: var(--color);
  font-size: var(--font-size-large);
  border: 1px solid var(--background-selected);
  border-radius: var(--border-radius);
}
.aux-valueknob > .aux-value > .aux-input,
.aux-fader > .aux-value > .aux-input {
  background: transparent;
  color: var(--color);
  font-size: var(--font-size-large);
  border: none;
}
