html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr:nth-child(odd) {
  background: var(--background-row-odd);
}
tr:nth-child(even) {
  background: var(--background-row-even);
}
td {
  padding: 5px;
}

hr {
  border: 1px inset var(--color-fade);
  margin: 32px;
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
}
a:visited {
  color: var(--link-visited-color);
}

* {
  position: relative;
}

body,
html {
  background: var(--background) !important;
  color: var(--color) !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: PragatiNarrow, sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 480px;
  min-height: 400px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



#root {
  display: grid;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  grid-template-columns: auto 1fr 96px;
  grid-template-rows: 1fr 256px;
  grid-template-areas:
      "navigation canvas sidebar"
      "navigation details sidebar";
}


/* LOGO */

#logo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 256px;
  height: 38px;
  opacity: 0.2;
/*
  transform-origin: bottom left;
  transform:  translate(100%, 0%) rotate(-90deg);
*/
}


/* SIDEBAR */

#sidebar {
  grid-area: sidebar;
  min-width: 96px;
  background: var(--background-dark);
}


/* CANVAS */ 

#canvas {
  grid-area: canvas;
  overflow: auto;
}


/* DETAILS */

#details {
  grid-area: details;
  display: grid;
  grid-template-areas: "head control"
                       "details control";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  grid-gap: 16px 8px;
  padding: 8px 16px;
  background: var(--background-fade);
  border-top: 1px solid var(--color-accent);
}
#details > .head {
  grid-area: head;
  display: grid;
  grid-template-areas: "icon title title title"
                       "icon id class docs";
  grid-template-columns: auto auto auto 1fr;
  grid-gap: 4px;
  text-align: left;
}
#details > .head * {
  margin: 0;
}
#details > .head > .icon {
  grid-area: icon;
  font-size: 40px;
}
#details > .head > .role {
  grid-area: title;
  font-size: var(--font-size-huge);
  line-height: 1;
}
#details > .head > .classid {
  grid-area: id;
  font-size: var(--font-size-small);
  align-self: center;
}
#details > .head > .classname {
  grid-area: class;
  font-size: var(--font-size-small);
  align-self: center;
}
#details > .head > .docs {
  grid-area: docs;
  text-decoration: none;
  align-self: center;
}
#details > .head > .docs > .aux-icon {
  font-size: var(--font-size-large);
  color: var(--color-fade);
  transition: color var(--transition);
}
#details > .head > .docs:hover > .aux-icon {
  color: var(--color);
}

#details > .control {
  grid-area: control;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
#details > .control > * {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
#details > .details {
  grid-area: details;
  text-align: left;
}

#details > .details > * {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 6px;
}
#details > .details > * > * {
  margin: 0;
}
#details > .details > * > .label {
  text-align: right;
  display: block;
  color: var(--color-fade);
}

#details > .noselect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  opacity: 0.05;
  font-size: var(--font-size-huge);
}

/* NAVIGATION */

aes70-navigation {
  grid-area: navigation;
  min-width: 256px;
  height: 100%;
  background: var(--background-dark);
  text-align: left;
  overflow: hidden;
}

aes70-navigation > .scroller {
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;
  bottom: calc(-1 * var(--aux-scrollbar-size));
  right: calc(-1 * var(--aux-scrollbar-size));
  margin: 0;
}

aes70-navigation .head {
  height: 36px;
  display: grid;
  grid-template-areas:
    "icon label";
  grid-template-columns: 40px 1fr;
  border-bottom: 1px solid var(--background);
  cursor: pointer;
  user-select: none;
}
aes70-navigation .aux-label {
  margin: 0;
  padding: 0 4px;
  align-items: center;
  align-self: center;
  grid-area: label;
}
aes70-navigation .icon {
  grid-area: icon;
  font-size: var(--font-size-list-icon);
  margin: 0px;
  grid-area: icon;
}


/* DEVICE */

aes70-device {
  
}
aes70-device > .head {
  display: grid;
  grid-template-areas: 'icon name ihost host'
                       'icon name iport port';
  background: var(--background);
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 40px 1fr auto;
  grid-gap: 4px;
  position: sticky;
  top: 0;
  z-index: 10;
}
aes70-device > .head > .icon {
  font-size: 32px;
  color: var(--color-fade);
}
aes70-device > .head > .name {
  grid-area: name;
  overflow: hidden;
  text-overflow: ellipsize;
  font-size: var(--font-size-large);
}
aes70-device > .head > .host,
aes70-device > .head > .port {
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
  height: auto;
  justify-self: end;
  padding: 0;
}
aes70-device > .head > .host {
  grid-area: host;
  align-self: end;
  justify-self: start;
}
aes70-device > .head > .port {
  grid-area: port;
  align-self: start;
  justify-self: start;
}
aes70-device > .head > .ihost,
aes70-device > .head > .iport {
  font-size: var(--font-size-small);
  margin: 0;
}
aes70-device > .head > .ihost {
  grid-area: ihost;
  align-self: end;
}
aes70-device > .head > .iport {
  grid-area: iport;
  align-self: start;
}


/* BLOCK CHILDREN */

aes70-block-children {
  padding-left: 16px;
  display: block;
}


/* BLOCK */

aes70-block {
  display: block;
}
aes70-block > .head {
  background: var(--background-fade);
  border-bottom: 1px solid black;
}
aes70-block > .head > .label {
  
}
aes70-block > .head > .icon {
  color: var(--color-fade);
}


/* OBJECT */

aes70-object > .head {
  display: grid;
  grid-template-areas:
    "icon label action"
    "icon class action";
}
aes70-object:last-of-type > .head {
  border-bottom: none;
}
aes70-object > .head.selected {
  background: var(--color-accent);
}
aes70-object > .head.selected * {
  color: black !important;
}

aes70-object > .head > .icon {
  grid-area: icon;
}
aes70-object > .head > .label {
  align-self: end;
}
aes70-object > .head.hascontrol > .label {
  color: var(--color-accent);
}
aes70-object > .head > .class {
  grid-area: class;
  font-size: var(--font-size-tiny);
  opacity: 0.5;
  align-self: start;
}
aes70-object > .head > .aux-button {
  background: none;
  margin: 0;
  padding: 0 4px;
  height: auto;
}
aes70-object > .head > .aux-button > .aux-icon {
  font-size: var(--font-size-list-action);
}
aes70-object > .head > .add,
aes70-object > .head > .remove {
  grid-area: action;
}
aes70-object > .head > .add {
  color: var(--color-fade);
}
aes70-object > .head > .remove {
  
}
aes70-object > .head > .remove:hover {
  color: var(--color-accent);
}
