aes70-line-break {
  flex-basis: 100%;
  height: 1px;
  background: var(--background-medium);
  margin: 8px 0;
}

aes70-control {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px;
  box-shadow: 0 0 0px var(--color);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0px var(--background);
  transition: all var(--transition);
}

aes70-control.scaffold::before {
  content: "ñ—";
  font-size: 40px;
  font-family: AES70Browser;
  color: var(--color-accent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  animation: scaffold infinite 1s;
  z-index: 20;
}
aes70-control.scaffold > * {
  opacity: 0.5;
  filter: blur(3px);
}
aes70-control.selected {
  z-index: 10;
  background: var(--background-selected);
}
aes70-control.scaffold.selected {
  box-shadow: 0 0 4px var(--color-accent);
}

@keyframes scaffold {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

aes70-control > * {
  display: block;
  transition: opacity var(--transition);
}


aes70-template-ocadelaycontrol > .aux-valueknob,
aes70-template-ocapanbalancecontrol > .aux-valueknob,
aes70-template-ocafreqactuatorcontrol > .aux-valueknob,
aes70-template-ocaintactuatorcontrol > .aux-valueknob,
aes70-template-ocafloatactuatorcontrol > .aux-valueknob {
  display: block;
  margin-bottom: var(--line-height);
}
aes70-template-ocadelaycontrol > .aux-valueknob > .aux-value,
aes70-template-ocapanbalancecontrol > .aux-valueknob > .aux-value,
aes70-template-ocafreqactuatorcontrol > .aux-valueknob > .aux-value,
aes70-template-ocaintactuatorcontrol > .aux-valueknob > .aux-value,
aes70-template-ocafloatactuatorcontrol > .aux-valueknob > .aux-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: calc(var(--line-height) / 2);
}
aes70-template-ocadelaycontrol > .aux-button,
aes70-template-ocapanbalancecontrol > .aux-button,
aes70-template-ocafreqactuatorcontrol > .aux-button,
aes70-template-ocaintactuatorcontrol > .aux-button,
aes70-template-ocafloatactuatorcontrol > .aux-button {
  background: none;
  color: var(--color-fade);
  padding: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
aes70-template-ocadelaycontrol > .aux-button > .aux-icon,
aes70-template-ocapanbalancecontrol > .aux-button > .aux-icon,
aes70-template-ocafreqactuatorcontrol > .aux-button > .aux-icon,
aes70-template-ocaintactuatorcontrol > .aux-button > .aux-icon,
aes70-template-ocafloatactuatorcontrol > .aux-button > .aux-icon {
  font-size: var(--font-size-button-icon);
}



aes70-template-ocabitstringactuatorcontrol {
  display: flex;
  flex-direction: column;
}
aes70-template-ocabitstringactuatorcontrol > .aux-label {
  margin-bottom: 4px;
  align-self: flex-start;
}
aes70-template-ocabitstringactuatorcontrol > .aux-buttons {
  display: grid;
  grid-gap: 2px;
}
aes70-template-ocabitstringactuatorcontrol > .aux-buttons > .aux-button {
  padding: 0;
}
aes70-template-ocabitstringactuatorcontrol > .aux-buttons.aes70-size-large > .aux-button {
  min-width: 40px;
  height: 40px;
}
aes70-template-ocabitstringactuatorcontrol > .aux-buttons.aes70-size-medium > .aux-button {
  min-width: 32px;
  height: 32px; 
}
aes70-template-ocabitstringactuatorcontrol > .aux-buttons.aes70-size-small > .aux-button {
  min-width: 24px;
  height: 24px; 
}
aes70-template-ocabitstringactuatorcontrol > .aux-buttons.aes70-size-tiny > .aux-button {
  min-width: 16px;
  height: 16px; 
}


aes70-template-ocagaincontrol {
  height: 240px;
}
aes70-template-ocagaincontrol > .aux-fader {
  height: 100%;
}


aes70-template-ocamutecontrol > .aux-toggle {
  padding-left: var(--aux-button-paddinghorizontal);
}
aes70-template-ocamutecontrol > .aux-toggle::before {
  content: none !important;
}
aes70-template-ocamutecontrol > .aux-toggle > .aux-icon {
  font-size: 20px;
  margin-right: 8px;
}
aes70-template-ocamutecontrol > .aux-toggle.aux-active > .aux-icon {
  color: var(--color-accent);
}


aes70-template-ocapolaritycontrol > .aux-toggle {
  padding-left: var(--aux-button-paddinghorizontal);
}
aes70-template-ocapolaritycontrol > .aux-toggle::before {
  content: none !important;
}
aes70-template-ocapolaritycontrol > .aux-toggle > .aux-icon {
  font-size: 20px;
  margin-right: 8px;
}
aes70-template-ocapolaritycontrol > .aux-toggle.aux-active > .aux-icon {
  color: var(--color-accent);
}


aes70-template-ocasensorcontrol {
  height: 240px;
}
aes70-template-ocasensorcontrol > .aux-meter {
  height: 100%;
}


aes70-template-ocastringactuatorcontrol {
  display: flex;
  flex-direction: column;
}
aes70-template-ocastringactuatorcontrol > .aux-label {
  align-self: flex-start;
  margin-bottom: 4px;
}
aes70-template-ocastringactuatorcontrol > .aux-value {
  width: 192px;
  text-align: left;
}


aes70-template-ocaswitchcontrol {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
aes70-template-ocaswitchcontrol > .aux-label {
  align-self: flex-start;
  margin-bottom: 4px;
}
