aes70-object-control {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  padding: 4px;
  box-shadow: 0 0 0px var(--color);
  transition: box-shadow var(--transition);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0px var(--color-accent);
}

aes70-object-control.scaffold::before {
  content: "ñ—";
  font-size: 40px;
  font-family: AES70Browser;
  color: var(--color-accent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  animation: scaffold infinite 1s;
  z-index: 20;
}
aes70-object-control.scaffold > * {
  opacity: 0.5;
  filter: blur(3px);
}
aes70-object-control.selected {
  z-index: 10;
  background: var(--background-selected);
}
aes70-object-control.scaffold.selected {
  box-shadow: 0 0 4px var(--color-accent);
}

@keyframes scaffold {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

aes70-object-control > * {
  display: block;
  transition: opacity var(--transition);
}



aes70-template-ocagaincontrol {
  
}


aes70-template-ocamutecontrol > .aux-toggle {
  padding-left: var(--aux-button-paddinghorizontal);
}
aes70-template-ocamutecontrol > .aux-toggle::before {
  content: none !important;
}
aes70-template-ocamutecontrol > .aux-toggle > .aux-icon {
  font-size: 20px;
}
aes70-template-ocamutecontrol > .aux-toggle.aux-active > .aux-icon {
  color: var(--color-accent);
}


aes70-template-ocapolaritycontrol > .aux-toggle {
  padding-left: var(--aux-button-paddinghorizontal);
}
aes70-template-ocapolaritycontrol > .aux-toggle::before {
  content: none !important;
}
aes70-template-ocapolaritycontrol > .aux-toggle > .aux-icon {
  font-size: 20px;
}
aes70-template-ocapolaritycontrol > .aux-toggle.aux-active > .aux-icon {
  color: var(--color-accent);
}


aes70-template-ocafreqactuatorcontrol > .aux-valueknob,
aes70-template-ocaintactuatorcontrol > .aux-valueknob,
aes70-template-ocafloatactuatorcontrol > .aux-valueknob {
  display: block;
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
}
aes70-template-ocafreqactuatorcontrol > .aux-valueknob > .aux-label,
aes70-template-ocaintactuatorcontrol > .aux-valueknob > .aux-label,
aes70-template-ocafloatactuatorcontrol > .aux-valueknob > .aux-label {
  position: absolute;
  top: calc(var(--line-height) * -1);
  left: 50%;
  transform: translateX(-50%);
}
aes70-template-ocafreqactuatorcontrol > .aux-valueknob > .aux-value,
aes70-template-ocaintactuatorcontrol > .aux-valueknob > .aux-value,
aes70-template-ocafloatactuatorcontrol > .aux-valueknob > .aux-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
aes70-template-ocafreqactuatorcontrol > .aux-button,
aes70-template-ocaintactuatorcontrol > .aux-button,
aes70-template-ocafloatactuatorcontrol > .aux-button {
  background: none;
  color: var(--color-fade);
  padding: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
aes70-template-ocafreqactuatorcontrol > .aux-button > .aux-icon,
aes70-template-ocaintactuatorcontrol > .aux-button > .aux-icon,
aes70-template-ocafloatactuatorcontrol > .aux-button > .aux-icon {
  font-size: var(--font-size-button-icon);
}



aes70-template-ocaswitchcontrol {
  display: flex;
  align-items: center !important;
}
aes70-template-ocaswitchcontrol > .aux-label {
  text-align: right;
  margin-left: 8px;
  margin-right: 8px;
}
