aes70-line-break {
  flex-basis: 100%;
  height: 4px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0));
  margin: 8px 0;
  border-top: 1px solid rgba(255,255,255,0.06);
}

aes70-control {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px;
  box-shadow: 0 0 0px var(--color);
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0px var(--background);
  transition: background var(--transition),
              color var(--transition),
              box-shadow var(--transition);
  background: var(--background-control);
  margin: 4px;
  border: 1px solid var(--background-control);
}

aes70-control.selected {
  z-index: 10;
  background: var(--background-selected);
  border: var(--border-control-selected);
  animation: aes70-control-selected var(--transition);
}
@keyframes aes70-control-selected {
  0% { border-color: white; };
  100% { border-color:  var(--bordercolor-control-selected) };
}

aes70-control.scaffold::before {
  content: "ñ—";
  font-size: 40px;
  font-family: AES70Browser;
  color: var(--color-accent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  animation: scaffold infinite 1s;
  z-index: 20;
}
aes70-control.scaffold > * {
  opacity: 0.5;
  filter: blur(3px);
}
aes70-control.scaffold.selected {
  box-shadow: 0 0 4px var(--color-accent);
  background: var(--background-medium);
}

@keyframes scaffold {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

aes70-control > * {
  display: block;
  transition: opacity var(--transition);
}


.control .aux-valueknob,
aes70-control .aux-valueknob {
  margin-bottom: var(--line-height);
}
.control .aux-valueknob > .aux-value,
aes70-control .aux-valueknob > .aux-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: calc(var(--line-height) / 2);
}
.control .aux-button.edit,
aes70-control .aux-button.edit {
  background: none;
  color: var(--color-fade);
  padding: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
.control .aux-button.edit > .aux-icon,
aes70-control .aux-button.edit > .aux-icon {
  font-size: var(--font-size-button-icon);
}
.control .aux-valueknob.small > .aux-value > .aux-input,
aes70-control .aux-valueknob.small > .aux-value > .aux-input {
  font-size: var(--font-size);
}



aes70-control-bitstringactuator {
  display: flex;
  flex-direction: column;
}
aes70-control-bitstringactuator > .aux-label {
  margin-bottom: 4px;
  align-self: flex-start;
}
aes70-control-bitstringactuator > .aux-buttons {
  display: grid;
  grid-gap: 2px;
}
aes70-control-bitstringactuator > .aux-buttons > .aux-button {
  padding: 0;
}
aes70-control-bitstringactuator > .aux-buttons.aes70-size-large > .aux-button {
  min-width: 40px;
  height: 40px;
}
aes70-control-bitstringactuator > .aux-buttons.aes70-size-medium > .aux-button {
  min-width: 32px;
  height: 32px;
}
aes70-control-bitstringactuator > .aux-buttons.aes70-size-small > .aux-button {
  min-width: 24px;
  height: 24px;
}
aes70-control-bitstringactuator > .aux-buttons.aes70-size-tiny > .aux-button {
  min-width: 16px;
  height: 16px;
}


aes70-control-dynamics {
  display: grid !important;
  grid-template-areas: "label label label label label label label"
                       "hold attack graph graph thres knee ceil"
                       ". release graph graph slope . floor"
                       ". release func detect slope . floor";
    grid-gap: 4px 4px;
}
aes70-control-dynamics > .aux-label {
  grid-area: label;
}
aes70-control-dynamics > .aux-dynamics {
  grid-area: graph;
  width: 160px;
  height: 160px;
}

aes70-control-dynamics > .attack {
  grid-area: attack;
}
aes70-control-dynamics > .release {
  grid-area: release;
}
aes70-control-dynamics > .hold {
  grid-area: hold;
}

aes70-control-dynamics > .threshold {
  grid-area: thres;
}
aes70-control-dynamics > .slope {
  grid-area: slope;
}
aes70-control-dynamics > .knee {
  grid-area: knee;
}

aes70-control-dynamics > .gainceiling {
  grid-area: ceil;
}
aes70-control-dynamics > .gainfloor {
  grid-area: floor;
}

aes70-control-dynamics > .function {
  grid-area: func;
}
aes70-control-dynamics > .detect {
  grid-area: detect;
}

aes70-control-filterclassical {
  display: grid !important;
  grid-template-areas:
    "label label label"
    "param freq order"
    "switch switch switch";
  align-items: center !important;
  grid-gap: 8px 0;
}
aes70-control-filterclassical > .aux-label {
  grid-area: label;
  text-align: left;
}
aes70-control-filterclassical > .freq {
}
aes70-control-filterclassical > .switch {
  grid-area: switch;
}
aes70-control-filterclassical > .switch > .aux-buttons > .aux-button {
  padding: 0;
  margin: 1px;
  width: var(--aux-clickable-size);
}


aes70-control-filterparametric {
  display: grid !important;
  grid-template-areas:
    "label label label label"
    "width freq gain shapep"
    "shape shape shape shape";
  align-items: center !important;
  grid-gap: 8px 0;
}
aes70-control-filterparametric > .aux-label {
  grid-area: label;
  text-align: left;
}
aes70-control-filterparametric > .freq {
}
aes70-control-filterparametric > .gain {
  grid-area: gain;
}
aes70-control-filterparametric > .width {
  grid-area: width;
}
aes70-control-filterparametric > .shapep {
  grid-area: shapep;
}
aes70-control-filterparametric > .shape {
  grid-area: shape;
}
aes70-control-filterparametric > .shape > .aux-button {
  float: right;
}


aes70-control-gain {
  height: 240px;
}
aes70-control-gain > .aux-fader {
  height: 100%;
}


aes70-control-mute > .aux-toggle {
  padding-left: var(--aux-button-paddinghorizontal);
}
aes70-control-mute > .aux-toggle::before {
  content: none !important;
}
aes70-control-mute > .aux-toggle > .aux-icon {
  font-size: 20px;
  margin-right: 8px;
}
aes70-control-mute > .aux-toggle.aux-active > .aux-icon {
  color: var(--color-accent);
}


aes70-control-polarity > .aux-toggle {
  padding-left: var(--aux-button-paddinghorizontal);
}
aes70-control-polarity > .aux-toggle::before {
  content: none !important;
}
aes70-control-polarity > .aux-toggle > .aux-icon {
  font-size: 20px;
  margin-right: 8px;
}
aes70-control-polarity > .aux-toggle.aux-active > .aux-icon {
  color: var(--color-accent);
}


aes70-control-sensor {
  height: 240px;
}
aes70-control-sensor > .aux-meter {
  height: 100%;
}


aes70-control-stringactuator {
  display: flex;
  flex-direction: column;
}
aes70-control-stringactuator > .aux-label {
  align-self: flex-start;
  margin-bottom: 4px;
}
aes70-control-stringactuator > .aux-value {
  width: 192px;
  text-align: left;
}


aes70-control-switch {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
aes70-control-switch > .aux-label {
  align-self: flex-start;
  margin-bottom: 4px;
}
