/* Overall application layout */

#root {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto 200px;
  grid-template-areas:
      "header header"
      "navigation canvas"
      "navigation settings";
  width: 100%;
  height: 100%;
}

#root > aes70-navigation {
  grid-area: navigation;
  border: 1px solid red;
}

#root > #canvas {
  grid-area: canvas;
  width: 100%;
  height: 100%;
}

aes70-object-template {
  display: inline-block;
  border: 1px solid blue;
}
