aes70-object-template {
  display: inline-block;
}

aes70-object-template > * {
  display: block;
}



aes70-template-ocagaintemplate {
  
}


aes70-template-ocamutetemplate > .aux-toggle {
  padding-left: var(--aux-button-paddinghorizontal);
}
aes70-template-ocamutetemplate > .aux-toggle::before {
  content: none !important;
}
aes70-template-ocamutetemplate > .aux-toggle > .aux-icon {
  font-size: 20px;
}
aes70-template-ocamutetemplate > .aux-toggle.aux-active > .aux-icon {
  color: var(--color-accent);
}


aes70-template-ocapolaritytemplate > .aux-toggle {
  padding-left: var(--aux-button-paddinghorizontal);
}
aes70-template-ocapolaritytemplate > .aux-toggle::before {
  content: none !important;
}
aes70-template-ocapolaritytemplate > .aux-toggle > .aux-icon {
  font-size: 20px;
}
aes70-template-ocapolaritytemplate > .aux-toggle.aux-active > .aux-icon {
  color: var(--color-accent);
}


aes70-template-ocauint8actuatortemplate > .aux-valueknob {
  display: block;
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
}
aes70-template-ocauint8actuatortemplate > .aux-valueknob > .aux-label {
  position: absolute;
  top: calc(var(--line-height) * -1);
  left: 50%;
  transform: translateX(-50%);
}
aes70-template-ocauint8actuatortemplate > .aux-valueknob > .aux-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
aes70-template-ocauint8actuatortemplate > .aux-button {
  background: none;
  color: var(--color-fade);
  padding: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
aes70-template-ocauint8actuatortemplate > .aux-button > .aux-icon {
  font-size: var(--font-size-button-icon);
}
