@font-face {
  font-family: "AES70Browser";
  font-style: normal;
  font-weight: normal;
  src: url("AES70Browser.ttf") format("truetype");
}

.aux-icon.ipaddress::before      { font-family: 'AES70Browser'; content: '񗍄'; }
.aux-icon.ip::before             { font-family: 'AES70Browser'; content: '񗍄'; }
.aux-icon.muted::before          { font-family: 'AES70Browser'; content: '񗍅'; }
.aux-icon.unmuted::before        { font-family: 'AES70Browser'; content: '񗍆'; }
.aux-icon.polarity::before       { font-family: 'AES70Browser'; content: '񗍇'; }
.aux-icon.phase::before          { font-family: 'AES70Browser'; content: '񗍇'; }
.aux-icon.edit::before           { font-family: 'AES70Browser'; content: '񗍈'; }
