@font-face {
  font-family: "AES70";
  font-style: normal;
  font-weight: normal;
  src: url("AES70.ttf") format("truetype");
}

.icon.ocaroot::before                   { font-family: 'AES70'; content: '񗝄'; }
.icon.ocaworker::before                 { font-family: 'AES70'; content: '񗝅'; }
.icon.ocaactuator::before               { font-family: 'AES70'; content: '񗝆'; }
.icon.ocabasicactuator::before          { font-family: 'AES70'; content: '񗝇'; }
.icon.ocabooleanactuator::before        { font-family: 'AES70'; content: '񗝈'; }
.icon.ocaint8actuator::before           { font-family: 'AES70'; content: '񗝉'; }
.icon.ocaint16actuator::before          { font-family: 'AES70'; content: '񗝊'; }
.icon.ocaint32actuator::before          { font-family: 'AES70'; content: '񗝋'; }
.icon.ocaint64actuator::before          { font-family: 'AES70'; content: '񗝌'; }
.icon.ocauint8actuator::before          { font-family: 'AES70'; content: '񗝍'; }
.icon.ocauint16actuator::before         { font-family: 'AES70'; content: '񗝎'; }
.icon.ocauint32actuator::before         { font-family: 'AES70'; content: '񗝏'; }
.icon.ocauint64actuator::before         { font-family: 'AES70'; content: '񗝐'; }
.icon.ocafloat32actuator::before        { font-family: 'AES70'; content: '񗝑'; }
.icon.ocafloat64actuator::before        { font-family: 'AES70'; content: '񗝒'; }
.icon.ocastringactuator::before         { font-family: 'AES70'; content: '񗝓'; }
.icon.ocabitstringactuator::before      { font-family: 'AES70'; content: '񗝔'; }
.icon.ocamute::before                   { font-family: 'AES70'; content: '񗝕'; }
.icon.ocapolarity::before               { font-family: 'AES70'; content: '񗝖'; }
.icon.ocaswitch::before                 { font-family: 'AES70'; content: '񗝗'; }
.icon.ocagain::before                   { font-family: 'AES70'; content: '񗝘'; }
.icon.ocapanbalance::before             { font-family: 'AES70'; content: '񗝙'; }
.icon.ocadelay::before                  { font-family: 'AES70'; content: '񗝚'; }
.icon.ocadelayextended::before          { font-family: 'AES70'; content: '񗝛'; }
.icon.ocafrequencyactuator::before      { font-family: 'AES70'; content: '񗝜'; }
.icon.ocadynamics::before               { font-family: 'AES70'; content: '񗝢'; }
.icon.ocadynamicsdetector::before       { font-family: 'AES70'; content: '񗝣'; }
.icon.ocadynamicscurve::before          { font-family: 'AES70'; content: '񗝤'; }
.icon.ocatemperatureactuator::before    { font-family: 'AES70'; content: '񗝨'; }
.icon.ocaidentificationactuator::before { font-family: 'AES70'; content: '񗝩'; }
.icon.ocasummingpoint::before           { font-family: 'AES70'; content: '񗝪'; }
.icon.ocasensor::before                 { font-family: 'AES70'; content: '񗝫'; }
.icon.ocastringsensor::before           { font-family: 'AES70'; content: '񗝸'; }
.icon.ocalevelsensor::before            { font-family: 'AES70'; content: '񗝺'; }
.icon.ocatimeintervalsensor::before     { font-family: 'AES70'; content: '񗝼'; }
.icon.ocatemperaturesensor::before      { font-family: 'AES70'; content: '񗝾'; }
.icon.ocablock::before                  { font-family: 'AES70'; content: '񗞄'; }
.icon.ocanetwork::before                { font-family: 'AES70'; content: '񗞉'; }
.icon.ocamediaclock3::before            { font-family: 'AES70'; content: '񗞔'; }
.icon.ocamanager::before                { font-family: 'AES70'; content: '񗞗'; }
.icon.ocaaudioprocessingmanager::before { font-family: 'AES70'; content: '񗞠'; }
.icon.ocadiagnosticmanager::before      { font-family: 'AES70'; content: '񗞤'; }
.icon.ocadevice::before                 { font-family: 'AES70'; content: '񗞩'; }
.icon.ocablockopen::before              { font-family: 'AES70'; content: '񗞪'; }
